<h2 class="page-title">プロフィール編集</h2>

<%= form_for(current_user, url: update_profile_path, html: { method: :put }) do |f| %>
  <% if current_user.errors.any? %>
    <div class="error-messages">
      <h4><%= pluralize(current_user.errors.count, "件のエラー") %>があります:</h4>
      <ul>
        <% current_user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  

  <div class="field">
    <%= f.label :gender, "性別" %><br />
    <%= f.select :gender, ["男性", "女性", "それ以外"], prompt: "選択してください" %>
  </div>

  <div class="field">
    <%= f.label :university, "大学" %><br />
    <%= f.text_field :university %>
  </div>

  <div class="field">
    <%= f.label :grade, "学年" %><br />
    <%= f.select :grade, ["1年","2年","3年","4年","M1年","M2年","D1年","D2年","D3年"], prompt: "選択してください" %>
  </div>

  <div class="field">
    <%= f.label :faculty, "学部" %><br />
    <%= f.text_field :faculty %>
  </div>

  <div class="field">
    <%= f.label :department, "学科" %><br />
    <%= f.text_field :department %>
  </div>

  <div class="field">
    <%= f.label :nickname, "ニックネーム" %><br />
    <%= f.text_field :nickname %>
  </div>

  <div class="field">
    <%= f.label :avatar, "プロフィール画像" %><br />
    <%= f.file_field :avatar, accept: "image/*" %>
  </div>

  <div class="actions">
    <%= f.submit "更新する" %>
  </div>
<% end %>

<%= link_to "マイページに戻る", mypage_path %>