<h1 class="page-title">ログイン</h1>

<div class="trade-wrapper">

 <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email, "メールアドレス" %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password, "パスワード" %>
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="checkbox-field">
      <%= f.check_box :remember_me %>
      <label for="user_remember_me">ログイン状態を保持する</label>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "ログイン" %>
  </div>
 <% end %>

 <div class="login-links">
    <%= render "devise/shared/links" %>
 </div>
</div>
