<h1 class="page-title">新規登録</h1>

<div class="registration-wrapper">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <!-- メールアドレス -->
    <div class="field">
      <%= f.label :email, "メールアドレス" %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <!-- パスワード -->
    <div class="field">
      <%= f.label :password, "パスワード" %>
      <% if @minimum_password_length %>
        <em class="password-note">（<%= @minimum_password_length %>文字以上）</em>
      <% end %>
      <%= f.password_field :password, autocomplete: "new-password" %>
    </div>

    <!-- パスワード確認 -->
    <div class="field">
      <%= f.label :password_confirmation, "パスワード確認" %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>

    <!-- 性別 -->
    <div class="field">
      <%= f.label :gender, "性別" %>
      <%= f.select :gender, ["男性", "女性", "それ以外"], prompt: "選択してください" %>
    </div>

    <!-- 大学 -->
    <div class="field">
      <%= f.label :university, "大学" %>
      <%= f.text_field :university, placeholder: "法政大学" %>
    </div>

    <!-- 学年 -->
    <div class="field">
      <%= f.label :grade, "学年" %>
      <%= f.select :grade, ["1年", "2年", "3年", "4年", "M1年", "M2年", "D1年", "D2年", "D3年"], prompt: "選択してください" %>
    </div>

    <!-- 学部 -->
    <div class="field">
      <%= f.label :faculty, "学部" %>
      <%= f.text_field :faculty, placeholder: "経済学部" %>
    </div>

    <!-- 学科 -->
    <div class="field">
      <%= f.label :department, "学科" %>
      <%= f.text_field :department, placeholder: "経済学科" %>
    </div>

    <!-- ニックネーム -->
    <div class="field">
      <%= f.label :nickname, "ニックネーム" %>
      <%= f.text_field :nickname, placeholder: "たくぽん" %>
    </div>

    <!-- プロフィール画像 -->
    <div class="field">
      <%= f.label :avatar, "プロフィール画像" %>
      <%= f.file_field :avatar, accept: "image/*" %>
    </div>

    <!-- 登録ボタン -->
    <div class="actions">
      <%= f.submit "登録する" %>
    </div>
  <% end %>

  <!-- ログインリンク -->
  <div class="login-links">
    <%= render "devise/shared/links" %>
  </div>
</div>